.container-suraj {
  max-width: 1320px;
  margin: auto;
  height: auto;
}

nav {
  background-image: url("../assets/88ebb948c7e8301978fc77d560b1815d.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  top: 0;
  max-width: 100%;
  height: auto;
}

.nav > ul > .nav-2 > li {
  list-style: none;
  color: #05073C;
  font-family: Inter;
  padding-left: 30px;
}

.nav > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav > ul > .nav-2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav > ul > .nav-1 {
  display: flex;
}

.nav > ul > .nav-1 > li {
  padding-left: 30px;
}

.nav > ul > .nav-1 > li > span > img {
  width: 40.03px;
  height: 30.54px;
  top: 6.9px;
  gap: 0px;
  opacity: 0px;
  font-weight: bolder;
}

.nav > ul > .nav-1 > li {
  display: flex;
  color: #EB662B;
  list-style: none;
  font-family: Inter;
  justify-content: space-around;
  align-items: center;
}

.nav > ul > .nav-3 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav > ul > .nav-3 > li {
  list-style: none;
  font-family: Inter;
  padding-left: 30px;
}

.nav > ul > .nav-3 > li > button {
  list-style: none;
  width: 83.31px;
  height: 44px;
  left: 284.61px;
  padding: 12px 20.8px 12px 21px;
  gap: 0px;
  border-radius: 50px 50px 50px 50px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  font-family: Inter;
  background-color: transparent;
}

.nav > ul > .nav-3 > li > button:hover {
  background-color: #F28555;
  opacity: 0.5;
}

.left {
  width: 338.78px;
  height: 28.13px;
  left: 20rem;
  top: 10rem;
  gap: 0px;
  opacity: 0px;
  position: relative;
}

.left > p {
  font-family: Inter;
  font-size: 14.65px;
  font-weight: 400;
  line-height: 28.13px;
  text-align: left;
}

.left > h1 {
  max-width: 450px;
  font-weight: bolder;
  font-size: 40px;
  font-family: Inter;
}

.right > .img-1 {
  width: 340px;
  height: 420px;
  margin-left: 765.02px;
  gap: 0px;
  opacity: 0px;
}

.right > .img-2 {
  width: 340px;
  height: 250px;
  margin-top: 50px;
  margin-left: 765.02px;
  gap: 0px;
  opacity: 0px;
}

.right > .img-3 {
  width: 340px;
  height: 750px;
  margin-top: -3000px;
  margin-left: 1125.02px;
  gap: 0px;
  opacity: 0px;
}

.flex {
  width: 850px;
  height: 80px;
  top: 324.13px;
  left: 15px;
  padding: 10px;
  gap: 0px;
  border-radius: 50px 50px 50px 50px;
  opacity: 0px;
  background-color: white;
}

.flex > .span-1 {
  width: 20.2px;
  height: 20px;
  top: 15px;
  left: 15px;
  gap: 0px;
  opacity: 0px;
  background-color: #F28555;
}

body {
  background-color: rgb(255, 255, 255);
}

.avani {
  max-width: 1320px;
  margin: auto;
  height: auto;
}

.logos-container {
  position: relative;
  width: 1290px;
  height: 30px;
  top: 10px;
  left: 0px;
  padding-top: 50px;
  display: flex;
  justify-content: flex-start;
}
.logos-container .logo {
  width: 190px;
  height: 30px;
  padding: 0px 45px;
}
.logos-container .logo:nth-child(1) {
  left: 0;
}
.logos-container .logo:nth-child(2) {
  left: 220px;
}
.logos-container .logo:nth-child(3) {
  left: 440px;
}
.logos-container .logo:nth-child(4) {
  left: 660px;
}
.logos-container .logo:nth-child(5) {
  left: 880px;
}
.logos-container .logo:nth-child(6) {
  left: 1100px;
}

.popular-section {
  position: relative;
  width: 1320px;
  height: 329.98px;
  top: 80px;
  left: 0px;
}

.popular-heading {
  position: absolute;
  width: 299.31px;
  height: 45px;
  top: 5px;
  left: 6px;
  font-family: "Manrope", sans-serif;
  font-size: 29.88px;
  font-weight: 900;
  line-height: 45px;
  text-align: left;
  color: #05073C;
}

.popular-see-all {
  position: absolute;
  width: 49.79px;
  height: 28.13px;
  top: 21.88px;
  left: 1234.41px;
  font-family: "Manrope", sans-serif;
  font-size: 14.3px;
  font-weight: 600;
  line-height: 28.13px;
  text-align: left;
  color: #05073C;
}

.popular-image {
  position: absolute;
  width: 190px;
  height: 219.98px;
  top: 95px;
}
.popular-image:nth-child(1) {
  left: 15px;
}
.popular-image:nth-child(2) {
  left: 235px;
}
.popular-image:nth-child(3) {
  left: 455px;
}
.popular-image:nth-child(4) {
  left: 675px;
}
.popular-image:nth-child(5) {
  left: 895px;
}
.popular-image:nth-child(6) {
  left: 1115px;
}

/* section ny, paris city CARDS*/
.new-container {
  position: relative;
  max-width: 1320px;
  height: 329.98px;
  top: 100px;
  left: 0px;
}

.newbox {
  border: 1px solid transparent;
  width: 1320px;
  height: 526.59px;
  margin: auto;
  font-family: "Manrope", sans-serif;
  height: 521.59px;
  top: 700;
  position: absolute;
}

.newtitle {
  margin-left: 15px;
  font-weight: 600;
  font-size: 22px;
}

.new-ft-trip {
  display: flex;
  justify-content: center;
  gap: 10px;
  border: 1px solid transparent;
  height: 489.59px;
  width: 1320px;
  margin: auto;
}

.newcard {
  width: 300px;
  height: 392.59px;
  border-radius: 12px;
  border: 1px solid #E7E6E6;
  position: relative;
}

.newcard > img {
  width: 300px;
  height: 212.84px;
  border-radius: 12px 12px 0px 0px;
}

.newcard > p:nth-of-type(1) {
  color: #717171;
  margin-top: 10px;
  margin-left: 42px;
}

.newcard > h3 {
  font-weight: 700;
  font-size: 15.63px;
  line-height: 24px;
  color: #05073C;
  margin-left: 21px;
}

.newcard > p:nth-of-type(2) {
  color: #05073C;
  font-weight: 400;
  font-size: 12.49px;
  margin-left: 101px;
  margin-right: 144.41px;
}

.newbutton {
  position: absolute;
  width: 35px;
  height: 35px;
  top: 194.84px;
  left: 253px;
  right: 17px;
  border-radius: 50%;
  box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.041);
  background-color: rgba(255, 255, 255, 0.97);
  border: none;
}

.new-days {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  border-top: 1px solid #E7E6E6;
  font-weight: 500;
}

.newprice {
  display: flex;
  justify-content: center;
  gap: 30.01px;
  margin-top: 200px;
  font-weight: 500;
}

.dropdown__button {
  width: 140px;
  height: 30px;
  top: 5px;
  left: 1085px;
  padding: 15.94px 20.8px 15.93px 21px;
  border-radius: 12px 12px 12px 12px;
  border: 1px solid #E7E6E6;
  position: absolute;
}

.dropdown__text {
  width: 100.73px;
  height: 28.13px;
  top: 19.94px;
  left: 13px;
  font-family: "Manrope", sans-serif;
  font-size: 14.3px;
  font-weight: 500;
  line-height: 28.13px;
  text-align: left;
  color: #05073C;
}

.mukul {
  background-color: #05073C;
  padding-bottom: 105px;
}
.mukul div > .head {
  display: flex;
  justify-content: space-between;
  max-width: 1320px;
  margin: auto;
  padding-top: 20px;
}
.mukul div > .head h2 {
  font-family: Inter;
  font-size: 29.65px;
  font-weight: 700;
  line-height: 45px;
  text-align: left;
  color: #FFFFFF;
  /* margin-top: 125px; */
  /* padding-top: 50px;
  padding-left: 80px; */
}
.mukul div > .head h3 {
  font-family: Inter;
  font-size: 14.3px;
  font-weight: 400;
  line-height: 28.13px;
  /* text-align: left; */
  color: #FFFFFF;
  padding-top: 30px;
  padding-right: 20px;
}
.mukul .container {
  max-width: 1320px;
  height: auto;
  margin: auto;
  padding-left: 300px;
  padding-right: 300px;
  gap: 0px;
  opacity: 0px;
  display: flex;
  justify-content: center;
  gap: 30px;
}
.mukul .container .box span {
  font-family: Inter;
  font-size: 13.89px;
  font-weight: 400;
  line-height: 18.2px;
  text-align: left;
  color: #FFFFFF;
  width: 89.45px;
  height: 18px;
  margin-top: 428px;
}
.mukul .container .box h3 {
  font-family: Inter;
  font-size: 17.3px;
  font-weight: 500;
  line-height: 27px;
  text-align: left;
  color: #FFFFFF;
}

.container2 {
  max-width: 1320px;
  height: auto;
  margin: auto;
  margin-bottom: 124px;
}
.container2 .box2 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  -moz-column-gap: 150px;
       column-gap: 150px;
  row-gap: 13px;
}
.container2 .box2 .items {
  font-family: Inter;
  font-size: 14.41px;
  font-weight: 400;
  line-height: 28.13px;
  text-align: left;
}
.container2 .hd {
  display: flex;
  gap: 40px;
  margin-bottom: 58px;
}
.container2 .hd h2 {
  font-family: Inter;
  font-size: 29.88px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  color: #05073C;
  text-align: start;
  text-decoration-line: underline;
}
.container2 h2:nth-of-type(2) {
  color: #808080;
  text-decoration: none;
}

main {
  margin-top: 400px;
}

.container_o {
  width: 1320px;
  height: 600px;
  top: 2266.58px;
  left: 300px;
  gap: 0px;
  opacity: 0px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(300px, 520px 410px);
}
.container_o > div:nth-of-type(1) {
  width: 300px;
  height: 240px;
  gap: 0px;
  opacity: 0.5px;
}
.container_o > div:nth-of-type(2) {
  width: 520px;
  height: 240px;
  top: 90px;
  left: 345px;
  gap: 0px;
  border-radius: 12px 0px 0px 0px;
  opacity: 0px;
}
.container_o > div:nth-of-type(3) {
  width: 410px;
  height: 510px;
  top: 90px;
  left: 895px;
  gap: 0px;
  border-radius: 12px 0px 0px 0px;
  opacity: 0px;
  grid-column-start: 3;
  grid-row-end: 2;
}
.container_o > div:nth-of-type(4) {
  position: relative;
  width: 300px;
  height: 240px;
  bottom: 250px;
  gap: 0px;
  border-radius: 12px 0px 0px 0px;
  opacity: 0px;
}
.container_o > div:nth-of-type(5) {
  position: relative;
  width: auto;
  height: auto;
  bottom: 250px;
  gap: 0px;
  border-radius: 12px 0px 0px 0px;
  opacity: 0px;
  display: flex;
  -moz-column-gap: 3%;
       column-gap: 3%;
}

.cont {
  margin: auto;
  width: 1320px;
  height: auto;
  display: flex;
  -moz-column-gap: 70%;
       column-gap: 70%;
}

.contr {
  width: auto;
  height: 716.5px;
  padding: 120px 0px;
  box-sizing: border-box;
  background-color: rgb(254, 247, 244);
}
.contr > div {
  width: 1320px;
  height: 476.5px;
  gap: 0px;
  opacity: 0px;
  margin: auto;
  display: grid;
  justify-items: center;
}
.contr > div > div {
  width: 728.02px;
  height: 101px;
  gap: 0px;
  opacity: 0px;
}

.contb {
  width: 1320px;
  height: auto;
  margin: auto;
  display: flex;
  position: relative;
  justify-content: space-evenly;
}

.contain {
  width: 1320px;
  height: auto;
  margin: auto;
  box-sizing: border-box;
  display: flex;
  justify-content: space-evenly;
}
.contain > div:nth-of-type(1) {
  width: 630px;
  height: 390.13px;
  gap: 0px;
  border-radius: 12px 0px 0px 0px;
  opacity: 0.5px;
  background: linear-gradient(180deg, rgba(5, 7, 60, 0) 0%, #05073C 100%);
}
.contain > div:nth-of-type(2) {
  width: 630px;
  height: 390.13px;
  gap: 0px;
  border-radius: 12px 0px 0px 0px;
  opacity: 0.5px;
  background: linear-gradient(180deg, rgba(5, 7, 60, 0) 0%, #05073C 100%);
}/*# sourceMappingURL=style.css.map */