section {
    background-color: #05073C;
    padding-bottom: 105px;
    div>.head{
        display: flex;
        justify-content: space-between;
        max-width: 1320px;
        margin: auto;
        padding-top: 20px;

        h2 {
            font-family: Inter;
            font-size: 29.65px;
            font-weight: 700;
            line-height: 45px;
            text-align: left;
            color: #FFFFFF;
            /* margin-top: 125px; */
            /* padding-top: 50px;
            padding-left: 80px; */

        }

        h3 {
            font-family: Inter;
            font-size: 14.3px;
            font-weight: 400;
            line-height: 28.13px;
            /* text-align: left; */
            color: #FFFFFF;
            padding-top: 30px;
            padding-right: 20px;
        }
    }
    .container {
        max-width: 1320px;
        height: auto;
        margin: auto;
        // padding-top: 115px;
        padding-left: 300px;
        padding-right: 300px;
        gap: 0px;
        opacity: 0px;
        display: flex;
        justify-content: center;
        gap: 30px;

        .box span{
            font-family: Inter;
            font-size: 13.89px;
            font-weight: 400;
            line-height: 18.2px;
            text-align: left;
            color: #FFFFFF;
            width: 89.45px;
            height: 18px;
            // padding-left: 15px;
            margin-top: 428px;
        }
        .box h3 {
            font-family: Inter;
            font-size: 17.3px;
            font-weight: 500;
            line-height: 27px;
            text-align: left;
            color: #FFFFFF;
        }
    }
}
.container2 {
    max-width: 1320px;
    height: auto;
    margin: auto;
    margin-bottom: 124px;
    .box2 {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        column-gap: 150px;
        row-gap: 13px;
        .items {
            font-family: Inter;
            font-size: 14.41px;
            font-weight: 400;
            line-height: 28.13px;
            text-align: left;
        }

    }
    .hd{
        display: flex;
        gap: 40px;
        margin-bottom: 58px;
        h2 {
            font-family: Inter;
            font-size: 29.88px;
            font-weight: 700;
            line-height: 36px;
            text-align: center;
            color: #05073C;
            text-align: start;
            text-decoration-line: underline;
        }
    }
    h2:nth-of-type(2){
        color: #808080;
        text-decoration: none;

    }
}

// om section

.container_o{
    width: 1320px;
height: 600px;
top: 2266.58px;
left: 300px;
gap: 0px;
opacity: 0px;
margin: auto;
display: grid;
grid-template-columns: repeat(300px,520px 410px);


                                

>div:nth-of-type(1){
    width: 300px;
height: 240px;
gap: 0px;
opacity: 0.5px;

}

>div:nth-of-type(2){
    width: 520px;
height: 240px;
top: 90px;
left: 345px;
gap: 0px;
border-radius: 12px 0px 0px 0px;
opacity: 0px;

}

>div:nth-of-type(3){
    width: 410px;
    height: 510px;
    top: 90px;
    left: 895px;
    gap: 0px;
    border-radius: 12px 0px 0px 0px;
    opacity: 0px;
    grid-column-start: 3;
    grid-row-end: 2;

}

>div:nth-of-type(4){
position: relative;
    width: 300px;
height: 240px;
bottom: 250px;
gap: 0px;
border-radius: 12px 0px 0px 0px;
opacity: 0px;


}

>div:nth-of-type(5){
    position: relative;
    width: auto;
    height: auto;
  bottom: 250px;
    gap: 0px;
    border-radius: 12px 0px 0px 0px;
    opacity: 0px;
   display: flex;
   column-gap: 3%;
    

}


}

.cont{
    margin: auto;
    width: 1320px;
    height: auto;
    display: flex;
    column-gap: 70%;
    
    
}

.contr{
    width: auto;
    height: 716.5px;
    padding:120px 0px;
    box-sizing: border-box;
    background-color: rgba(254,247,244);
    
    >div{
        width: 1320px;
height: 476.5px;
gap: 0px;
opacity: 0px;
margin: auto;
display: grid;
 justify-items: center;

 >div{
    width: 728.02px;
height: 101px;
gap: 0px;
opacity: 0px;

 }

    }
}

.contb{
    width: 1320px;
    height: auto;
margin: auto;
display: flex;
position: relative;

justify-content: space-evenly;

}

.contain{
    width: 1320px;
    height: auto;
margin: auto;
box-sizing: border-box;
display: flex;
justify-content: space-evenly;
>div:nth-of-type(1){
    width: 630px;
height: 390.13px;
gap: 0px;
border-radius: 12px 0px 0px 0px;
opacity: 0.5px;
background: linear-gradient(180deg, rgba(5, 7, 60, 0) 0%, #05073C 100%);


}

>div:nth-of-type(2){
    width: 630px;
height: 390.13px;
gap: 0px;
border-radius: 12px 0px 0px 0px;
opacity: 0.5px;
background: linear-gradient(180deg, rgba(5, 7, 60, 0) 0%, #05073C 100%);


}
}


